<section class="container-fluid d-flex editPostContainer">
  <h1 id="editPostTxt">Edit Your Post</h1>
  <div class="row mt-4 d-flex editPosts">
    <div class="col-12">
      <form id="editPostForm" class="editPostForm">
      <label for="editTitle" id="editTitleLabel" class="form-label">Title:</label>
      <br/>
      <textarea id="editTitle" name="title" rows="1" cols="33">{{post.title}}</textarea>
      </div>
      </div>
      <div class="row justify-content-center editPosts">
    <div class="col-12">
      <label for="editContent" id="editContentLabel" class="form-label">Content:</label>
       <br/>
      <textarea id="editContent" name="content" rows="5" cols="33">{{post.content}}</textarea>
      <p class="auth-time">Posted on {{format_date post.created_at}}</p>
    </div>
  </div>
      <input type="hidden" id="userEditId" name="userId" value="{{userId}}">
      <button type="submit" class="btn btn-primary saveBtn" id="saveEditBtn">Save Edits</button>
      </form>
      <button type="button" class="btn btn-primary deleteBtn" id="deletePostBtn">Delete Post</button>
</section>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>