<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div class="loginDiv">
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div class="loginDiv">
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn btn-primary saveBtn">Login!</button>
    <a class="instead" type="button" href="/signup">Sign-Up Instead</a>
  </form>
</div>

<script src="/js/login.js"></script>