<section class="container-fluid editPostContainer">
  <div class="row d-flex justify-content-md-center newPost">
      <form class="newPostForm" id="newPostForm">
        <div class="col">
        <label for="newTitle" class="form-lable">Title</label>
        <textarea id="newTitle" name="newtitle" rows="1" cols="33" placeholder="Add a title..."></textarea>
        <label for="newContent" class="form-lable">Content</label>
        <textarea id="newContent" name="content" rows="5" cols="33"
          placeholder="Your blog post content goes here..."></textarea>
        <button id="submitNewPost" type="submit" class="btn btn-primary saveBtn">Save</button>
      </form>
      </div>
  </div>
</section>

<script src="/js/add-post.js"></script>