<section class="container-fluid editPostContainer">
  <div class="row justify-content-md-center editPosts">
    <div class="col-12">
      <textarea id="newTitle" name="title" rows="1" cols="33" placeholder="Add a title..."></textarea>
      <textarea id="newContent" name="content" rows="5" cols="33" placeholder="Your blog-post content goes here..."></textarea>
      <a class="saveBtn" href="/dashboard">Save</a>
    </div>
  </div>
</section>