.newPostBtn {
  margin-top: 30px;
  padding: 30px 20px;
  font-size: clamp(1.5rem, 2vw, 1.9rem);
  margin-bottom: 30px;
  background: rgb(243,255,219);
  background: linear-gradient(0deg, rgba(243,255,219,1) 0%, rgba(217,227,241,1) 20%, rgba(217,227,241,1) 48%, rgba(217,227,241,1) 74%, rgba(182,213,255,1) 100%);
}

.newPost {
  padding: 30px 20px;
  font-size: clamp(1.5rem, 2vw, 1.9rem);
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnCol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.saveBtn {
  margin-bottom: 10px;
  padding: 14px 40px;
  /* background: rgb(154,158,255); */
  background: linear-gradient(0deg, rgba(154,158,255,1) 0%, rgba(217,227,241,1) 4%, rgba(217,227,241,1) 48%, rgba(217,227,241,1) 96%, rgba(154,158,255,1) 100%);
  border: 2px solid rgba(154,158,255,1);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.deleteBtn {
  margin-bottom: 10px;
  padding: 14px 20px;
  /* background-color: #ff000055 !important; */
  /* background: rgb(99, 0, 27); */
  background: linear-gradient(0deg, rgb(75, 0, 0) 0%, #ff9b9b97 4%, rgba(195, 75, 75, 0.418) 48%, rgba(217,227,241,1) 96%, rgb(72, 0, 0) 100%);
  border: 2px solid rgb(105, 0, 47);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: #384871;
}

#postsRem {
  text-align: center;
}

#deleteAcctBtn{
  padding: 2px 20px;
  margin-top: 50px;
}

.logoutNav{
  padding: 0px 3px;
}

.formCol{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.username {
  color: rgb(45, 68, 68);
  font-weight: bold;
}

.postSnips {
  margin-top: 30px;;
}

.viewHead {
box-shadow: inset 2px 2px 5px #e5e25e, inset -2px -2px 5px #fffec9;
}

h1 {
  text-align: center;
  margin-top: 30px;
  /* margin-right: 70px; */
  background: rgb(255,219,238);
  background: linear-gradient(0deg, rgba(255,219,238,1) 0%, rgba(217,227,241,1) 20%, rgba(217,227,241,1) 48%, rgba(217,227,241,1) 74%, rgba(255,219,238,1) 100%);
  display: block;
  padding: 20px;
  filter: drop-shadow(2px 2px 10px #ffffff88);
  border-radius: 50px;
  border: 2px solid rgba(245, 245, 245, 0.29);
}

.card-header {
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-decoration: none;
  border: 2px solid rgba(128, 128, 128, 0.122);
  text-align: center;
}

.postLink:hover {
  filter: drop-shadow(4px 4px 4px #08080857);
}

.viewHeader {
  margin-top: 30px;
}

.loginDiv {
  margin-bottom: 10px;
}

.instead {
  align-self: center;
  text-decoration: none;
  max-width: fit-content;
  text-align: center;
  margin-top: 10px;
  padding: 14px 20px;
  background: linear-gradient(0deg, rgb(255, 204, 103) 0%, rgba(217,227,241,1) 10%, rgba(217,227,241,1) 48%, rgba(217,227,241,1) 90%, rgba(255, 204, 103, 1) 100%);
  border: 2px solid rgba(218, 136, 2, 1);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  border-radius: 30px;
  
}

form {
  display: flex;
  flex-direction: column;
}

.commentHead {
  /* border: 1.5px solid #ff0000 ; */
  box-shadow: inset 2px 2px 5px #ff3434, inset -2px -2px 5px #ffbaba;
}

.homeHead {
  box-shadow: inset 2px 2px 5px #088429, inset -2px -2px 5px #a2ffbb;
  text-decoration: none;
}

.dashHead {
  box-shadow: inset 2px 2px 5px #974fe5, inset -2px -2px 5px #e4caff;
}

#deleteAcctFr {
  align-items: center;
}

#login-btn, #signup-btn {
  padding: 10px 20px;
  background: linear-gradient(0deg, rgb(183, 255, 154) 0%, rgba(217,227,241,1) 4%, rgba(217,227,241,1) 48%, rgba(217,227,241,1) 96%, rgba(183, 255, 154, 1) 100%);
  border: 2px solid rgba(65, 163, 27, 1);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}